@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap&family=Chelsea+Market&family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Main body and base.html */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

p {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 59, 59, 0.911);
}

.content-row {
  width: 100%;
  margin: 0;
}

/* Header */

nav.dog-nav {
  letter-spacing: 2px;
}

h1.head-text {
  font-family: "Chelsea Market", sans-serif;
  font-size: 250%;
  letter-spacing: 1px;
  margin-left: 60px;
  color: black;
}

h1.head-text:hover {
  color: rgba(167, 167, 167, 0.5);
}

#discussion-search {
  width: 200px;
}

div.base-div {
  border: 2px solid #3b3a3a;
  width: 100%;
}

.articles-header {
  margin: 15px 0 0 25%;
  font-family: "Indie Flower", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #383838;
}

/* index.html */

div.picture-div {
  width: 100%;
  padding: 30px 50px;
}

.hero-image {
  width: 100%;
}

.blog-div {
  text-align: center;
  margin: 30px 20px;
  padding: 20px;
  border: solid rgba(108, 206, 84, 0.5) 2px;
}

.blog-image {
  width: 90%;
}

.blog-title {
  margin: 15px 30px 5px;
  letter-spacing: 1px;
  font-size: 30px;
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower";
  font-weight: 900;
}

.author-blog {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.article-text {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
  background-color: #f8f9fa;
  font-style: italic;
  border-radius: 10px;
  line-height: 30px;
}

.reviews {
  margin: 20px 35px 50px 20px;
  padding: 10px;
  border: solid gray 1px;
  position: relative;
}

.reviews:hover {
  border: solid rgba(255, 59, 59, 0.911) 1px;
}

.review-title {
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.reviews-img {
  width: 100%;
}

/* discussions.html */

#category_name {
  width: 93%;
  margin: auto;
}

.modal-body {
  background-color: #f8f9fa;
}

.modal-title {
  margin: 0 auto;
  letter-spacing: 2px;
}

.close-button.close {
  margin: -1rem -1rem -1rem 0;
}

.general-label {
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  color: #383838;
}

.cancel-button {
  margin-left: 55%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-button {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-plus-button-cont {
  text-align: center;
}

.discussions-image {
  margin-top: 35px;
  width: 90%;
  margin: 50px 0 0;
}

#discussion-label {
  margin-top: 20px;
  font-family: "Chelsea Market";
  font-size: 20px;
  letter-spacing: 1px;
}

.btn.btn-primary.discussion-button {
  margin-left: 10px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.btn.btn-primary.discussion-button:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.discussions-container {
  margin: 20px 50px 0;
  width: 90%;
  border-radius: 30px;
}

.comment-date {
  color: rgb(82, 82, 82);
  margin-top: 5px;
  margin-left: 20%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.date-div {
  border-right: solid 1px black;
  background-color: aliceblue;
}

.comments-box {
  background-color: #f8f9fa;
  padding-top: 20px;
}

p.comment-title {
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 0;
}

.author-text {
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 10px;
}
.comments {
  letter-spacing: 1px;
  font-size: 18px;
  font-style: italic;
  margin: 35px 10px 35px 0;
}

.comment-like-div {
  display: inline-flex;
  margin: 20px auto 5px;
}

.interactive-buttons {
  margin: 0 5px;
  letter-spacing: 1px;
}

.like-button {
  border: none;
  background: #fff;
}

.heart {
  color: red;
}

.reply-title-div {
  text-align: center;
}

.reply-title {
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower";
  font-weight: 900;
  font-size: 40px;
  margin: 20px;
}

.reply-comments-div {
  margin: 30px auto;
  width: 60%;
  border: solid 2px rgba(108, 206, 84, 0.5);
  padding: 20px;
  border-radius: 20px;
  background-color: #f8f9fa;
}

.col-1.reply-edit-button {
  padding: 0;
}

.reply-form {
  width: 60%;
  margin: 30px auto;
}

.reply-cancel {
  margin-left: 58%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.reply-cancel:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.reply-reply {
  margin-left: 5%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.reply-reply:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.reply-comment-user {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}

.edit-discussion-div {
  padding: 0 0 40px;
  border: solid rgba(108, 206, 84, 0.5) 2px;
  margin: 30px auto;
  width: 90%;
  background-color: #f8f9fa;
}

.edit-discussion-header {
  font-family: "Chelsea Market";
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 25px;
  text-align: center;
}

.edit-cancel {
  position: absolute;
  right: 26%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.edit-cancel:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.edit-edit {
  position: absolute;
  right: 38%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.edit-edit:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

footer {
  background-color: #f8f9fa;
  height: 130px;
  text-align: center;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 5px;
  color: rgba(104, 104, 104, 0.911);
}

.copyright-text {
  color: rgba(104, 104, 104, 0.911);
  font-size: 70%;
  letter-spacing: 1px;
  padding: 0 15px;
}

.theo-tag {
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower", sans-serif;
  font-size: 15px;
}

@media (min-width: 993px) {
  .mobile-nav-options {
    display: none;
  }
}

@media (max-width: 993px) {
 
/* Base and index page */

.nav-select{
display: none;
}

  div.picture-div {
    padding: 30px 50px 20px;
  }

  div.base-div {
    border: none;
  }

  .blog-div {
    margin: 30px 0px;
  }

  h1.head-text {
    font-size: 25px;
    margin-left: 0;
  }

  .ratings-div {
    display: none;
  }
  .article-text {
    font-size: 13px;
    line-height: 20px;
    padding: 20px 10px;
  }

/* Discussions page */

  .comment-date {
    font-size: 15px;
    margin-left: 0;
    padding-top: 20px;
  }

.comments {
    font-size: 15px;
    margin: 10px 10px 20px 0;
  }

p.comment-title{
font-size: 18px;
}

.author-text{
margin-top: 5px;
}

.discussions-image{
margin: 30px 0 0;
}

}

@media (max-width: 767px) {
  div.picture-div {
    padding: 20px 10px 20px;
  }
  h1.head-text {
    font-size: 25px;
    margin-left: 0;
  }
}

@media (max-width: 322px) {
  h1.head-text {
    font-size: 16px;
  }
}
