@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap&family=Chelsea+Market&family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Main body and base.html */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

p {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 59, 59, 0.911);
}

.content-row {
  width: 100%;
  margin: 0;
}

.content-container {
  margin-top: 95px;
}

/* buttons */

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}

.no-button {
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
  color: white;
}

.no-button:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.yes-button {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
  color: white;
}

.yes-button:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.no-button-modal {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
  color: white;
}

.no-button-modal:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.yes-button-modal {
  margin: 20px 5% 20px 3%;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: rgba(255, 59, 59, 0.911);
  border: black;
  color: white;
}

.yes-button-modal:hover {
  background-color: rgba(255, 0, 0, 0.911);
}

/* general form classes */

.general-label {
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  color: #383838;
}

/* Header */

header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
}

nav.dog-nav {
  letter-spacing: 2px;
}

h1.head-text {
  font-family: "Chelsea Market", sans-serif;
  font-size: 250%;
  letter-spacing: 1px;
  margin-left: 60px;
  color: black;
}

h1.head-text:hover {
  color: rgba(167, 167, 167, 0.5);
}

.head-select {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.select-bar-form {
  margin-right: 40px;
}

/* col-8 and col-4(articles section) on base.html */

div.eight-base-div {
  border: 2px solid #b1b1b1;
  border-left: none;
  width: 100%;
}

.articles-header {
  margin: 15px 0 0 32%;
  font-family: "Indie Flower", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #383838;
}

.article-text {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px;
  background-color: #f8f9fa;
  font-style: italic;
  border-radius: 10px;
  line-height: 30px;
}

.articles-div {
  margin: 20px 35px 50px 20px;
  padding: 10px;
  border: solid gray 1px;
  position: relative;
}

.articles-div:hover {
  border: solid rgba(255, 59, 59, 0.911) 1px;
}

.article-title {
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.articles-img {
  width: 100%;
}

/* 404 */

.four-a {
  text-decoration: none;
}

.four-container {
  text-align: center;
}

.four-head-text {
  font-family: "Chelsea Market", sans-serif;
  font-size: 250%;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #b243b9;
}

.four-head-text:hover {
  color: black;
}

.four-image {
  width: 700px;
}

/* index.html */

div.picture-div {
  width: 100%;
  padding: 30px 50px;
}

.hero-image {
  width: 100%;
}

/* Classes used on articles. blogpost.html, articles.html, news.html */

.blog-div {
  text-align: center;
  margin: 30px 20px;
  padding: 20px;
  border: solid rgba(108, 206, 84, 0.5) 2px;
}

.blog-image {
  width: 90%;
}

.blog-title {
  margin: 15px 30px 5px;
  letter-spacing: 1px;
  font-size: 30px;
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower";
  font-weight: 900;
}

.author-blog {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 8px;
}

/* Discussions.html Modal */

.modal-body {
  background-color: #f8f9fa;
}

.modal-title {
  margin: 0 auto;
  letter-spacing: 2px;
}

.close-button.close {
  margin: -1rem -1rem -1rem 0;
}

.modal-body-remove {
  letter-spacing: 1px;
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.pagination-page-info {
  text-align: center;
  margin: 20px;
  color: rgba(255, 59, 59, 0.911);
  letter-spacing: 1px;
}

b {
  margin: 5px;
}

.page-item.active .page-link {
  background-color: rgba(104, 104, 104, 0.911);
  border-color: rgba(104, 104, 104, 0.911);
}

.page-link {
  color: #000000;
}

/* Discussions.html/ filtering.html */

#category_name {
  width: 93%;
  margin: auto;
}

.image-plus-button-cont {
  text-align: center;
}

.discussions-image {
  margin-top: 35px;
  width: 90%;
  margin: 50px 0 0;
}

.image-plus-button-cont {
  text-align: center;
}

#discussion-label {
  margin-top: 20px;
  font-family: "Chelsea Market", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.btn.btn-primary.discussion-button {
  margin-left: 10px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.btn.btn-primary.discussion-button:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.discussions-container {
  margin: 20px 50px 0;
  width: 90%;
  border-radius: 30px;
}

/* Discussion and discussions_thread comments container */

.comment-date {
  color: rgb(125, 125, 125);
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
}

.date-div {
  border-right: solid 1px black;
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 35px;
}

.comments-box {
  background-color: #f8f9fa;
  padding-top: 20px;
  padding-right: 20px;
}

.comment-category {
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 30px;
}

p.comment-title {
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 10px;
}

.author-text {
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 5px;
}

.comments {
  letter-spacing: 1px;
  font-size: 18px;
  font-style: italic;
  margin: 15px 10px 35px 0;
}

/* Discussion comments interactivity buttons */

.comment-like-div {
  display: inline-flex;
  margin: 20px auto 5px;
}

.interactive-buttons {
  margin: 0 5px;
  letter-spacing: 1px;
}

.like-button {
  border: none;
  background: #fff;
}

.heart {
  color: red;
}

.heart:hover {
  color: rgba(161, 161, 161, 0.911);
}

/* Discussions_thread.html */

.reply-title-div {
  text-align: center;
}

.reply-title {
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower";
  font-weight: 900;
  font-size: 40px;
  margin: 20px;
}

.discussions-thread-form {
  width: 80%;
  margin: 30px auto;
}

/* comments reply div/bubble */

.reply-comments-div {
  margin: 30px auto;
  width: 80%;
  border: solid 2px rgba(108, 206, 84, 0.5);
  padding: 20px;
  border-radius: 20px;
  background-color: #f8f9fa;
}

.reply-comment-user {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}

.thread-edit {
  margin: 0 10px;
}

.thread-user-time {
  text-align: center;
}

.thread-date-time {
  font-size: 13px;
  color: #9a9292;
  letter-spacing: 1px;
}

.thread-reply-comment {
  letter-spacing: 1px;
  font-style: italic;
}

.like-button-replies {
  background: #f8f9fa;
  border: none;
}

div.edit-reply-button-div {
  margin: 20px auto 0;
  display: inline-flex;
  letter-spacing: 2px;
}

/* reply-form */

.reply-form {
  width: 60%;
  margin: 30px auto;
}

/* edit_reply.html */

.edit-discussion-div {
  padding: 0 0 40px;
  border: solid rgba(108, 206, 84, 0.5) 2px;
  margin: 30px auto;
  width: 90%;
  background-color: #f8f9fa;
}

.edit-discussion-header {
  font-family: "Chelsea Market";
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 25px;
  text-align: center;
}

/* News.html */

.news-headline-div {
  width: 100%;
  text-align: center;
}

.news-title {
  text-align: center;
  font-weight: 900;
  font-family: "Indie Flower";
  font-size: 40px;
  letter-spacing: 3px;
  margin: 10px 0 15px;
}

.news-article-title {
  text-align: center;
  font-weight: 900;
  font-family: "Indie Flower";
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px 0 0;
}

.link-news-title {
  font-family: "Indie Flower";
  letter-spacing: 3px;
  font-weight: 700;
}

.image-and-news-title {
  padding: 15px 0 10px;
}

.image-and-news-title:hover {
  border: solid rgba(255, 59, 59, 0.911) 1px;
}

.news-image {
  width: 90%;
  margin-top: 20px;
}

/* footer */

footer {
  background-color: #f8f9fa;
  text-align: center;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 5px;
  color: rgba(104, 104, 104, 0.911);
}

.social-links:hover {
  color: rgba(0, 0, 0, 0.7);
}

.copyright-text {
  color: rgba(104, 104, 104, 0.911);
  font-size: 70%;
  letter-spacing: 1px;
  padding: 0 15px;
}

.theo-tag {
  color: rgba(255, 59, 59, 0.911);
  font-family: "Indie Flower", sans-serif;
  font-size: 15px;
}

.theo-tag:hover {
  color: rgba(108, 206, 84, 0.5);
}

/* Media Queries */

@media (max-width: 1026px) {
  .select-bar-form {
    margin-right: 0px;
  }

  h1.head-text {
    margin-left: 20px;
  }
}

@media (min-width: 993px) {
  .mobile-nav-options {
    display: none;
  }
}

@media (max-width: 993px) {
  /* Base and index page */

  div.eight-base-div {
    border: none;
  }

  div.picture-div {
    padding: 30px 20px 20px;
  }

  h1.head-text {
    font-size: 25px;
    margin-left: 0;
  }

  form.form-inline {
    display: none;
  }

  div.base-div {
    border: none;
  }

  .content-container {
    margin-top: 75px;
  }

  /* Blog, articles, news.html */

  .blog-div {
    margin: 30px 0px;
  }

  .articles-container {
    display: none;
  }

  .article-text {
    font-size: 13px;
    line-height: 20px;
    padding: 20px 10px;
  }

  /* Discussions, discussions_thread.html */

  .comments-box {
    padding-right: 10px;
    padding-top: 18px;
  }

  .comment-break {
    margin-bottom: 0;
  }

  .date-div {
    padding: 0 5px 20px;
  }

  .comment-category {
    font-size: 15px;
    margin: 20px 0 0;
  }

  .comment-date {
    font-size: 15px;
    margin-left: 0;
    margin-top: 5px;
  }

  .comments {
    font-size: 15px;
    margin: 10px 10px 20px 0;
  }

  p.comment-title {
    font-size: 18px;
    margin-top: 0;
  }

  .author-text {
    margin-top: 5px;
    font-size: 15px;
  }

  .discussions-image {
    margin: 30px 0 0;
  }

  .reply-form {
    width: 90%;
  }

  .justify-content-center {
    margin-top: 15px;
  }

  /* edit_discussions.html */

  .edit-discussion-div {
    padding-bottom: 0;
  }

  /* News.html */

  .link-news-title {
    letter-spacing: 2px;
    font-size: 15px;
  }

  .image-and-news-title {
    padding: 5px 0 5px;
  }

  .news-image {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h1.head-text {
    font-size: 25px;
    margin-left: 0;
  }

  .news-title {
    margin: 0 0 10px;
    font-size: 20px;
  }

  .news-article-title {
    margin: 15px 0 0;
    font-size: 13px;
  }

  .pagination-page-info {
    font-size: 13px;
    margin: 10px;
  }

  b {
    font-size: 13px;
  }

  .four-image {
    width: 300px;
  }

  .four-head-text {
    font-size: 30px;
  }

  div.picture-div {
    padding: 20px 20px 0;
  }

  .discussions-image {
    margin: 20px 0 0;
  }

  /* Discussions_thread*/

  .reply-comments-div {
    margin: 30px auto;
    width: 90%;
  }

  .reply-comment-user {
    font-size: 10px;
    padding-top: 5px;
  }

  .thread-date-time {
    font-size: 10px;
  }

  .thread-reply-comment {
    font-size: 13px;
  }

  .edit-reply-button-div {
    font-size: 10px;
    margin: 10px auto;
  }

  .thread-edit {
    margin: 0 3px;
  }

  .discussions-thread-form {
    width: 90%;
  }
}

@media (max-width: 322px) {
  h1.head-text {
    font-size: 16px;
  }

  div.picture-div {
    padding: 10px 20px 30px;
  }

  .edit-discussion-header {
    font-size: 20px;
  }

  .discussions-image {
    margin: 10px 0 0;
  }

  .blog-div {
    margin: 0 0 25px;
  }

  .link-news-title {
    letter-spacing: 2px;
    font-size: 10px;
  }

  .news-title {
    margin: 0 0 10px;
  }

  .news-article-title {
    font-size: 10px;
  }

  .pagination-page-info {
    font-size: 10px;
    margin: 10px;
  }

  b {
    font-size: 10px;
  }
}
