@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap&family=Chelsea+Market&family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Main body and base.html */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 59, 59, 0.911);
}

/* Header */

nav.dog-nav {
  letter-spacing: 2px;
}

h1.head-text {
  font-family: "Chelsea Market", sans-serif;
  font-size: 250%;
  letter-spacing: 1px;
  margin-left: 60px;
  color: black;
}

#discussion-search {
  width: 200px;
}

div.base-div {
  border: 2px solid #3b3a3a;
  width: 100%;
}

/* index.html */

div.picture-div {
  width: 100%;
  padding: 30px 50px;
}

.hero-image {
  width: 100%;
}

.blog-div{
    text-align: center;
    margin: 30px 20px;
    padding: 20px;
    border: solid rgba(108, 206, 84, 0.5) 2px;
   
}

.blog-image{
    width: 90%;
}

.blog-title{
    margin: 15px 30px 5px;
    letter-spacing: 1px;
    font-size: 30px;
    color: rgba(255, 59, 59, 0.911);
    font-family: 'Indie Flower';
    font-weight: 900;
}

.author-blog{
font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.article-text{
margin-top: 20px;
font-size: 18px;
letter-spacing: 1px;
padding: 20px;
background-color: #f8f9fa;
font-style: italic;
border-radius: 10px;
}

.reviews{

margin-left: 15px;
margin-top: 55px;
margin-right: 50px;
padding: 10px;
border: solid gray 1px;
position: relative;
}

.review-title{
position: absolute;
top: 20px;
left: 20px;
}



.reviews-img{
width: 100%;
}

/* discussions.html */

.image-plus-button-cont {
  text-align: center;
}

.discussions-image {
  margin-top: 35px;
  width: 90%;
  margin: 50px 50px 0;
}

#discussion-label {
  margin-top: 20px;
  font-family: "Chelsea Market";
  font-size: 20px;
  letter-spacing: 1px;
}

.btn.btn-primary.discussion-button {
  margin-left: 10px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #000;
  border: black;
}

.btn.btn-primary.discussion-button:hover {
  background-color: rgba(255, 59, 59, 0.911);
}

.discussions-container {
  margin: 20px 50px 0;
  width: 90%;
  border-radius: 30px;
}

.comment-date {
  color: rgb(82, 82, 82);
  margin-top: 5px;
  margin-left: 20%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.date-div {
  border-right: solid 1px black;
  background-color: aliceblue;
}

.comments-box{
background-color: #f8f9fa;
padding-top: 20px;
}

p.comment-title {
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 0;
}

.author-text {
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 10px;
}
.comments{
letter-spacing: 1px;
    font-size: 18px;
    font-style: italic;
    margin: 35px 10px;
}

.comment-like-div {
  display: inline-flex;
  margin: 20px auto 5px;

}

.interactive-buttons {
  margin: 0 5px;
  letter-spacing: 1px;
}

.like-button {
  border: none;
  background: #fff;
}

.heart {
  color: red;
}
