<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    </head>
    <!-- Body -->
    <body>
        <div class="container four-container">
            <a class="navbar-brand four-a" href="{{ url_for('index') }}"><h1 class="four-head-text">The Odd Dog Blog</h1></a>
            <div>
                <img class="four-image" src="https://media.giphy.com/media/jkZtSdwKOx05BOlapR/giphy.gif" alt="404" />
            </div>
        </div>
    </body>
</html>
