{% extends 'base.html' %} {% block homepage %}
<div class="picture-div">
  <img
    class="hero-image"
    src="{{url_for('static', filename='images/smiling-woman.jpg')}}"
    alt="Smiling woman with dog"
  />
</div>
{% endblock %} {% block content %}
<div class="blog-div">
  <img
    class="blog-image"
    src="{{url_for('static', filename='images/english-bulldog.jpg')}}"
  />
  <h2 class="blog-title">Is your dogs bad breath doggin' you?</h2>
  <h4 class="author-blog">By John Morris</h4>
  <p class="article-text">
    Your pet is a beloved family member. You buy him comfy pillows and squeaky
    toys, premium kibble and trips to the groomer. But if you’re like most pet
    owners, you’re neglecting a major part of pet medical care — their mouth.
    Oral disease, which includes periodontal disease or gum disease, is the most
    common disorder in cats and dogs. The internal research team of Banfield,
    The Pet Hospital (www.banfield.net), supports findings that 68 percent of
    cats and 78 percent of dogs over the age of 3 display signs of oral disease,
    including bad breath, pain while chewing, weight loss, yellow teeth, red or
    swollen gums, missing teeth, nasal discharge or tearing or swelling below
    one eye. There are four stages of periodontal disease, starting with mild
    plaque and gingivitis and progressing to major gum recession and tooth loss.
    Dogs and cats use their mouths like we use our hands, so dental disease can
    seriously affect their ability to eat and play. Worse, evidence suggests a
    link between gum disease and other serious health problems. “Periodontal
    disease has also been associated with changes in a pets’ kidneys, liver and
    cardiac functions,” said Jeffrey Klausner, DVM, MS, DACVIM, senior vice
    president and chief medical officer for Banfield. “In short, unhealthy teeth
    can lead to an unhealthy pet in ways pet owners can’t imagine.” Experts
    emphasize that prevention is the best medicine. For example, Banfield
    hospitals, most of which are located in PetSmart stores nationwide, include
    comprehensive dental care in two of their Optimum Wellness Plan options,
    which are packages of preventive care services. In addition to regular
    exams, Banfield recommends that pet owners brush their pets’ teeth every
    day, or at least two or three times a week. Feeding pets firm kibble can
    help slow down plaque formation, as can dental chew toys and dental-specific
    water additives. “In addition to professional cleanings, our veterinarians
    are trained to provide a manageable at-home dental plan that pet owners can
    easily follow,” said Karen Johnson, DVM, vice president and client advocate
    for Banfield. “At Banfield, preventive care is the cornerstone of our
    practice — to us, proper dental care is just as important to the long-term
    health of a pet as routine vaccinations.”
  </p>
</div>
{% endblock %}
