{% extends 'base.html' %} {% block homepage %}
<div class="picture-div">
  <img
    class="hero-image"
    src="{{url_for('static', filename='images/smiling-woman.jpg')}}"
    alt="Smiling woman with dog"
  />
</div>
{% endblock %} {% block content %}
<div class="blog-div">
  <img
    class="blog-image"
    src="{{url_for('static', filename='images/siberian-husky.jpg')}}"
    alt="Siberian Husky Puppy"
  />
  <h2 class="blog-title">Four tips for a better life.</h2>
  <p class="article-text">
    Just like people, dogs feel much better when they are healthy. But unlike
    people, dogs can’t take care of themselves. To keep your favorite furry
    friend on the track to wellness and better living, follow these tips: *
    Exercise builds efficient bodies. Nothing makes a pooch happier than a
    stroll through the neighborhood. And while your dog’s satisfying his
    curiosity by sniffing trees and bushes, he’s also burning calories. For more
    intense physical activity, try throwing some balls or frisbees. This should
    make your dog run a little harder, helping expand lung capacity and tone
    muscle. No matter what activity you choose, your canine companion will enjoy
    the benefits of regular exercise while forging a stronger bond with you in
    the process. * Protect your smiles. You probably remember to brush your own
    teeth, but doggie dental care often goes by the wayside. For dogs that are
    temperamental about pet owners or vets touching their teeth, a simple and
    effective solution can be found using a new type of probiotics, called
    Teddy’s Pride Oral Care (www.MyTeddysPride.com), that has been designed
    specifically for the oral care needs of dogs and cats. These probiotics can
    be used in addition to brushing or as a stand-alone oral care routine. *
    Read food labels. Unlike people, dog’s can’t read food labels. They are
    dependent upon their owners to give them the best possible nutrition. For
    dogs, make sure that the first ingredient listed is, for example, “Chicken,”
    not “Chicken Flavor” or “Dog Food with Chicken” — items that list the name
    of the meat contain 95 percent of that ingredient, while the “with”
    designation means that the food only contains 3 percent of chicken or beef.
    * Visit the vet regularly. Similar to people visiting the doctor, dogs need
    regular veterinary care. Every dog has potential health risks it must guard
    against — and many risks vary according to dog breed. Your dog’s
    veterinarian will let you know when recommended vaccinations are due, give
    proper care to keep your dog healthy and notify you about potential health
    risks and treatments.
  </p>
</div>
{% endblock %}
