{% extends 'base.html' %}{% block content %}

<label>Start a discussion here</label>

<input type="button" onclick="window.location.href='{{ url_for('start_discussion') }}';" value="Enter" />
 
{% for comment in comments %}
<div class="container discussions-container">
  <p>{{comment.date_time}}</p>
  <p>({{comment.category_name}}) {{comment.title}}</p>
  <br />
  <p>{{comment.username}}</p>
  <br />
  <p>{{comment.comment}}</p>
  <div>
    <button><i class="fas fa-heart"></i></button>
    <label>{{comment.likes}}</label>
    <a href="#">comment</a>
    <a href="{{ url_for('edit_discussion', comment_id=comment._id )}}">Edit</a>
    <a href="#">Remove</a>
  </div>
</div>

{% endfor %} 
{% endblock %}
