{% extends 'base.html' %}{% block content %}

<h2>{{ reply }}</h2>

<form
  id="search_form"
  action="{{url_for('update_reply', reply_comment=reply.comment)}}"
  method="post"
>
  <div class="input-with-icon success-control">
    <input
      type="text"
      class="form-control"
      name="username"
      value="{{ reply.username }}"
    /><br />
    <input
      type="text"
      class="form-control"
      name="comment"
      value="{{ reply.comment }}"
    /><br />
  </div>
  <button class="btn-primary btn">
    Update Reply
  </button>
</form>

{% endblock %}
