{% extends 'base.html' %}{% block content %}
    <div class="container">
      <h3>Edit Discussion</h3>
      <form
          class="form-group"
          action="{{ url_for('update_discussion', comment_id=comment._id)}}"
          method="POST"
        >
        <textarea name="date_time" hidden>(edited){{ now }}</textarea
            >
            <div class="form-group">
            <select class="form-control" id="category_name" name="category_name" required>
              <option value="" disabled>Choose Category</option>
              {% for cat in categories %}
              {% if cat.category_name == comment.category_name %}
 
               <option value="{{cat.category_name}}" selected>
               {{cat.category_name}}</option>
   
                {% else %}
          
                 <option value="{{cat.category_name}}">{{cat.category_name}}</option>
          
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="{{ comment.title }}"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value="{{ comment.username }}"
              required
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="" required maxlength="254">{{ comment.comment }}</textarea
            >
          </div>
          <div class="row">
            <input type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('discussions') }}';" value="Cancel" />
            <button
              class="btn btn-primary"
              type="Edit"
            >
              Edit
            </button>
          </div>
      </form>
    </div>
  {% endblock %}