{% extends 'base.html' %}{% block content %}
    <div class="container">
      <h3>Start Discussion</h3>
      <form
          class="form-group"
          action="{{ url_for('insert_discussion') }}"
          method="POST"
          enctype="multipart/form-data"
        >
        <textarea name="date_time" hidden>(edited){{ now }}</textarea
            >
            <div class="form-group">
            <select class="form-control" id="category_name" name="category_name" required>
              <option value="" disabled>Choose Category</option>
              {% for comment in comments %}
              <option disabled selected value="{{comment.category_name}}"
                >{{comment.category_name}}</option
              >
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Enter a title"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter Username"
              required
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="What's on your mind...?" required maxlength="254"></textarea
            >
          </div>
          <div class="row">
            <button
              class="btn btn-primary"
              type="submit"
            >
              Add Task
            </button>
          </div>
      </form>
    </div>
  {% endblock %}