{% extends 'base.html' %} {% block homepage %}
<div class="picture-div">
  <img
    class="hero-image"
    src="{{url_for('static', filename='images/smiling-woman.jpg')}}"
    alt="Smiling woman with dog"
  />
</div>
{% endblock %} {% block content %} 
<div class="blog-div">
<img class="blog-image" src="{{url_for('static', filename='images/man-training-a-rottweiler.jpg')}}"/>
<h2>How to turn a bad pooch into a good boy.</h2>
<h4>By Bella Johnson</h4>
</div>
<div class="blog-div">
<img class="blog-image" src="{{url_for('static', filename='images/man-training-a-rottweiler.jpg')}}"/>
<h2>How to turn a bad pooch into a good boy.</h2>
<h4>By Bella Johnson</h4>
</div>
<div class="blog-div">
<img class="blog-image" src="{{url_for('static', filename='images/man-training-a-rottweiler.jpg')}}"/>
<h2>How to turn a bad pooch into a good boy.</h2>
<h4>By Bella Johnson</h4>
</div>
{% endblock %}
