{% extends 'base.html' %} {% block homepage %}
<div class="picture-div">
  <img
    class="hero-image"
    src="{{url_for('static', filename='images/smiling-woman.jpg')}}"
    alt="Smiling woman with dog"
  />
</div>
{% endblock %} {% block content %}
<div class="blog-div">
  <img
    class="blog-image"
    src="{{url_for('static', filename='images/puppy-sleeping.jpg')}}"
    alt="Puppy Sleeping"
  />
  <h2 class="blog-title">Are you ready for a new puppy?</h2>
  <p class="article-text">
    Many families buy puppies during the holidays, only to become overwhelmed.
    Bringing a dog home can be a 15-year commitment, not to mention a huge
    financial and emotional responsibility. Many families do not realize how
    much work raising a puppy entails. Sadly, many holiday puppies end up in
    shelters come January. Animals can bring joy into their human’s lives, but
    only if people are ready to keep a canine companion healthy and safe. Here
    are some tips for anyone considering getting a puppy for the holidays: –
    Make sure that a dog will fit into your lifestyle. Do you have the money to
    pay for food, routine and emergency vet bills and training costs? Will you
    be home to care for your puppy? If not, will you be able to find or hire a
    sitter? Can you handle paw prints on your floors and dog hair on your
    furniture? If you answer “no” to any of these questions, you might want to
    get a lower-maintenance pet instead. – Puppy-proof your home before you
    bring Fido home. Puppies will chew on anything in reach. Some people hide or
    bundle loose cables and wires as a preventative measure. Place house plants
    out of puppy-reach, and keep floors clear. Make sure your puppy has a kennel
    or a bed -; it will need its own space. Owners can also use Invisible Fence
    to keep their new dog safe. “A lot of people don’t realize our products can
    be used inside the home,” says Mark Thomas, the Senior Brand Manager for
    Invisible Fence Brand. The company’s Shields In-Home Safety Solution is an
    ideal gift to keep a new puppy safe. The system features a small, portable
    transmitter and a special computer collar worn by the pet. The system is
    gentle enough for puppies as young as eight weeks, so it can help young pets
    stay out of trouble. – Do your research before getting your puppy. Many pet
    stores are fronts for puppy mills, where ill dogs face horrendous abuse.
    Consider adopting from an animal shelter -; one out of every four shelter
    dogs is a purebred animal. If you really don’t want to adopt, look for a
    reputable breeder who will let you see their breeding facilities and meet
    your puppy’s parents. To give an Invisible Fence Brand Solution as a gift
    these holidays, you may visit www.invisiblefence.com and find your local
    Invisible Fence Brand dealership.
  </p>
</div>
{% endblock %}
