{% extends 'base.html' %} {% block homepage %}
<div class="picture-div">
  <img
    class="hero-image"
    src="{{url_for('static', filename='images/smiling-woman.jpg')}}"
    alt="Smiling woman with dog"
  />
</div>
{% endblock %} {% block content %}
<div class="blog-div">
  <img
    class="blog-image"
    src="{{url_for('static', filename='images/portuguese-water-dog.jpg')}}"
    alt="Portuguese Water Dog"
  />
  <h2 class="blog-title">6 Myths About Pet Allergies.</h2>
  <p class="article-text">
    By gaining a better understanding of the allergies caused by pets, you may
    be able to find a healthier coexistence with your furry friend. According to
    The Humane Society, 62 percent of American households have at least one pet.
    Yet, an estimated 31 million Americans are allergic to animals, including up
    to 30 percent of those who have asthma. Here’s what you should know about
    pet allergies: Myth 1: It’s only pet hair that causes allergies to flare up.
    Not true. Pet hair is a nuisance and causes allergies, as it contains saliva
    or other pet proteins. Allergic reactions to pets are actually caused by pet
    proteins contained in pet dander, such as microscopic skin flakes, saliva
    and urine. Overactive immune systems in those with allergies attack these
    otherwise harmless substances. Myth 2: Continuous exposure to animals will
    eventually desensitize you to them. Not only is this not true, but in some
    cases the opposite is true. If you have a confirmed allergy to animals, it
    usually will not get better through increasing exposure. In fact, it may get
    worse. Myth 3: With the right pet breed, allergy problems go away. Not true.
    All cat or dog breeds produce dander. However, some breeds are believed to
    be better for allergy sufferers than other breeds. Typically the best breeds
    are those that shed the least fur and/or are the most frequently bathed.
    Also, smaller dogs produce less saliva than do bigger dogs. Myth 4: Small
    animals are not a problem for allergies. Wrong. Hamsters, guinea pigs, birds
    and other warm-blooded mammals can also trigger asthma and allergies in
    people with allergies to animal dander, according to the U.S. Environmental
    Protection Agency. Myth 5: Outside the home, you shouldn’t have pet
    allergies. Not necessarily. Because of their microscopic size and jagged
    shape, pet allergens easily stick to clothing and other fabrics and are
    carried to other locations. Animal dander — in sufficient levels to cause
    allergies — can be found in many public places such as the workplace,
    classrooms and hospitals, according to the American Lung Association. Myth
    6: An air purifier will help with pet allergies. It depends on the air
    purifier. Only a high-performance air purifier can help. Some allergy
    sufferers report that small, low-quality air cleaners make little or no
    difference at all. However, many allergy sufferers report that their IQAir
    air purifier, in combination with improved cleaning methods, has reduced or
    completely eliminated their allergic reactions to pets in their homes.
  </p>
</div>
{% endblock %}
